body{
  background-color: #3aafa9;
}
.nav-bar {
  position: fixed;
  max-width: 10%;
  height: 100%;
  background-color: grey;
  float: left;
}
li>a{
  color: white;
}
.links{
  padding: 20px;
  /* padding-top: 200px; */
}
.image1{
  padding-top: 10px;
}
.services{
  text-align: center;
  padding-left: 500px;
}
.container{
  width: 100%;
}
#image2{
  width:200px;
  height: 200px;
  box-shadow: 0px 0px 5px 3px grey;

  margin-left: 200px;

  
}
.p2{
  padding-left: 220px;
  padding-top: 30px;
}

#image3{
  width:200px;
  height: 200px;
  box-shadow: 0px 0px 5px 3px grey;
 
  margin-left: 40%;
  margin-right: 180px;
  clear: both;
}
.p3{
  clear: both;
  margin-left: 350px;
  padding-top: 30px;
  font-weight: bold;
}
#p-text{
  display: none;
  background-color: rgba(0, 0, 0, 0.596);
  padding: 40px;
  padding-right: 5px;
  padding-left: 5px;
  color: #3aafa9;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 35%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.p2{
  position: relative;
  overflow: hidden;
  font-weight: bold;
  
}
