head { text-align: center
    ; font-size: medium; background-color: burlywood;
color: aqua;}
p{color: rgb(7, 104, 231); text-align: left; order: ;}
h1{color: chocolate ;text-align: center;}
h2{color: darkcyan; text-align: justify;}
li{text-shadow: darkgreen;}
ul{text-align: center;}